{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <h1>Chat between {{ currentUser.username }} and {{ recipient.username }}</h1>

    <ul>
        {% for message in messages %}
            <li>{{ message.text }}</li>
        {% endfor %}
    </ul>

    <form method="post" action="{{ path('message_new', {'recipient': recipient.id}) }}">
        {{ form_start(form) }}
        {{ form_row(form.text) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Send</button>
        {{ form_end(form) }}
    </form>
{% endblock %}