{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chat con {{ recipient.username }}</h1>

    {% for message in messages %}
        {% if message.idUser.contains(app.user) %}
            <div class="message message-self">
                <div class="message-text">{{ message.text }}</div>
                <div class="message-time">{{ message.createdAt|date('d/m/Y H:i') }}</div>
            </div>
        {% else %}
            <div class="message message-other">
                <div class="message-author">{{ message.idUser.first.username }}</div>
                <div class="message-text">{{ message.text }}</div>
                <div class="message-time">{{ message.createdAt|date('d/m/Y H:i') }}</div>
            </div>
        {% endif %}
    {% endfor %}

    <form method="post" action="{{ path('message_new', { 'recipient': recipient.id }) }}">
        {{ form_start(form) }}

        {{ form_widget(form.text, { 'attr': { 'class': 'form-control', 'placeholder': 'Escribir mensaje...' } }) }}
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>

        {{ form_end(form) }}
    </form>
{% endblock %}
