{% extends 'layout.html.twig' %}
    {% block content %}
    <section class="container mb-5 mt-5"style="background-color: grey">
	<a class="btn btn-primary" href="/twig/listUser">⇦</a>
	<h3>Usuario {{detalleClient["name"]}}</h3>
	<article class="eventList mb-5 mt-5" style="background-color: white; heigth: 50px">
 		<span class="fs-3 me-3">{{detalleClient["name"]}}</span>
		<span class="text-muted ms-3"> {{detalleClient["email"]}} </span>
		<span class="text-muted ms-3">- {{detalleClient["roles"]}} -</span>
		<div class="float-end">
			<a class="btn btn-warning" href="/twig/updateUser/{{detalleClient["id"]}}">Editar Usuario</a>
			<a class="btn btn-danger" href="/twig/deleteUser/{{detalleClient["id"]}}">Borrar Usuario</a>
		</div>
				{% for task in detalleClient["posts"] %}
				 	
					<div class="ms-3 mt-3 mb-3 text-center">
						<span class="text-white"> {{task["type"]}} </span>
						<span class="text-white">{{task["isSubmited"]}}</span>
					</div> 
				{% endfor %}
				
		</article>
	</section>

{% endblock %}