{% extends "layout.html.twig" %}
{% block content %}
	<section class="container mb-5 mt-5">

    <h1>Bienvenido, {{ user.name }}!</h1>
    <p>Tu correo electrónico es: {{ user.email }}</p>
   <p>Tu telefono es: {{user.phone}}</p>

    </ul>
    </ul>
    <a  class="btn btn-warning" style="margin-left: 50px">Editar perfil</a>
    <a class="btn btn-danger">Eliminar cuenta</a>
{#

Funcionalidad a desarrollar:
 href="{{ path('app_editProfile') }}
 "href="{{ path('app_deleteProfile') }}"
 
  #}
</section>
{% endblock %}